body {
    background-color: rgb(255, 247, 247);
}

#timer {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#highscore {
    font-family: Arial, Helvetica, sans-serif;
}
.spanTitle {
    font-size: xx-large;
    font-weight: 900;
}
.spanTitle2 {
    font-size: x-large;
    margin-top: 100px;
    display: grid;
    place-items: center;

}
.info2 {
    font-size: medium;
    font-weight: 500 ;
}

#startButton {
  
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 0, 177);
    color: white;
    border-radius: 4px;
        cursor: pointer;
}

.buttonOptions {
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 0, 177);
    color: white;
    border-radius: 4px;
        cursor: pointer;
}


#startButton:hover {
    opacity: .7;
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 0, 177);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.startTitle, .infoList, .info, .que_text, .endPage{
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}


.startTitle {
    margin-top: 80px;
    
}

.info{
    width: 400px;
    text-align: center;

}
.buttons {
    margin: 20px;
    display: grid;
    place-items: center;
    
}

.buttons0, .buttons1, .buttons2, .buttons3 {
    margin: 10px;
    padding: 5px 50px 5px;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 0, 177);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  display: block;

}

.buttons0:hover, .buttons1:hover, .buttons2:hover, .buttons3:hover {
    opacity: .6;
    padding: 5px 50px 5px;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 0, 177);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  display: block;

}

.quiz {
    margin-top: 100px;
    font-size: x-large;
}

#wrong {
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
#right {
    text-align: center;
    color: rgb(0, 172, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 900;
}

#timer2 {
    font-size: x-large;
  
    
}

#picgeno {
    padding-top: 40px;
    display:block;
    margin: auto;
}